doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    link(rel='icon', href='//oss.imkacai.com/logo.png')
    title 麗枫酒店
    link(href='//oss.imkacai.com/css/app.9f37cd6f.css', rel='preload', as='style')
    link(href='//oss.imkacai.com/js/app.fb3c585f.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/js/chunk-vendors.274ea930.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/css/app.9f37cd6f.css', rel='stylesheet')
  body
    #app
    script(src='https://res.wx.qq.com/open/js/jweixin-1.4.0.js')
    script(src='//oss.imkacai.com/js/chunk-vendors.274ea930.js')
    script(src='//oss.imkacai.com/js/app.fb3c585f.js')
