doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    link(rel='icon', href='//oss.imkacai.com/favicon.ico')
    title 麗枫酒店
    link(href='//oss.imkacai.com/css/app.79b936b9.css', rel='preload', as='style')
    link(href='//oss.imkacai.com/js/app.d2c0775c.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/js/chunk-vendors.ff6fad2e.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/css/app.79b936b9.css', rel='stylesheet')
  body
    #app
    script(src='http://res.wx.qq.com/open/js/jweixin-1.4.0.js')
    script(src='//oss.imkacai.com/js/chunk-vendors.ff6fad2e.js')
    script(src='//oss.imkacai.com/js/app.d2c0775c.js')
