doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='icon', href='//oss.imkacai.com/favicon.ico')
    title 麗枫酒店
    link(href='//oss.imkacai.com/css/app.d0db9cdc.css', rel='preload', as='style')
    link(href='//oss.imkacai.com/js/app.8ae582eb.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/js/chunk-vendors.79d95d37.js', rel='preload', as='script')
    link(href='//oss.imkacai.com/css/app.d0db9cdc.css', rel='stylesheet')
  body
    #app
    script(src='http://res.wx.qq.com/open/js/jweixin-1.4.0.js')
    script(src='//oss.imkacai.com/js/chunk-vendors.79d95d37.js')
    script(src='//oss.imkacai.com/js/app.8ae582eb.js')
