doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  link(rel='icon' href='//oss.imkacai.com/favicon.ico')
  title &#x9E97;&#x67AB;&#x9152;&#x5E97;
  link(href='//oss.imkacai.com/css/app.d0db9cdc.css' rel='preload' as='style')
  link(href='//oss.imkacai.com/js/app.25af3509.js' rel='preload' as='script')
  link(href='//oss.imkacai.com/js/chunk-vendors.36456371.js' rel='preload' as='script')
  link(href='//oss.imkacai.com/css/app.d0db9cdc.css' rel='stylesheet')
#app
script(src='http://res.wx.qq.com/open/js/jweixin-1.4.0.js')
script(src='//oss.imkacai.com/js/chunk-vendors.36456371.js')
script(src='//oss.imkacai.com/js/app.25af3509.js')
